In [ ]:
#Only for documentation purposes

In [76]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd
import os
import csv
import re
import numpy as np

In [87]:
# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='920') 

# pandas data frames (optional: pip install pandas)
df = career.get_data_frames()[0]
df
#df.to_csv('Charles_Smith(old).csv')


# json
#career.get_json()

# dictionary
#career.get_dict()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,920,1985-86,00,1610612747,LAL,22.0,82,1,1542.0,209,...,0.611,160,221,381,54,49,49,99,229,521
1,920,1986-87,00,1610612747,LAL,23.0,79,72,2240.0,316,...,0.780,210,405,615,84,70,80,102,171,852
2,920,1987-88,00,1610612747,LAL,24.0,82,64,2636.0,322,...,0.773,245,465,710,93,87,45,120,204,937
3,920,1988-89,00,1610612747,LAL,25.0,82,82,2510.0,401,...,0.786,258,481,739,103,94,55,119,172,1088
4,920,1989-90,00,1610612747,LAL,26.0,82,82,2709.0,385,...,0.751,262,450,712,90,66,50,116,207,1061
5,920,1990-91,00,1610612747,LAL,27.0,82,21,2164.0,258,...,0.738,201,315,516,71,59,23,99,117,750
6,920,1991-92,00,1610612747,LAL,28.0,82,53,2902.0,382,...,0.744,306,456,762,117,91,36,111,141,1116
7,920,1992-93,00,1610612747,LAL,29.0,82,55,2819.0,379,...,0.739,287,424,711,116,88,39,116,149,1051
8,920,1993-94,00,1610612756,PHX,30.0,82,55,2825.0,465,...,0.735,275,478,753,137,70,38,100,142,1204
9,920,1994-95,00,1610612756,PHX,31.0,82,52,2687.0,311,...,0.732,194,475,669,127,55,31,114,146,916
10,920,1995-96,00,1610612756,PHX,32.0,82,36,2113.0,215,...,0.709,166,388,554,72,45,23,79,141,612
11,920,1996-97,00,1610612756,PHX,33.0,27,19,551.0,61,...,0.646,33,105,138,17,18,1,20,34,153
12,920,1996-97,00,1610612742,DAL,33.0,56,54,1943.0,173,...,0.651,189,329,518,52,52,15,54,111,444
13,920,1996-97,00,0,TOT,33.0,83,73,2494.0,234,...,0.650,222,434,656,69,70,16,74,145,597
14,920,1997-98,00,1610612742,DAL,34.0,82,68,2649.0,242,...,0.716,219,449,668,123,78,27,68,157,600
15,920,1998-99,00,1610612742,DAL,35.0,50,35,924.0,108,...,0.577,82,146,228,25,28,8,19,69,246
16,920,1999-00,00,1610612747,LAL,36.0,82,82,1929.0,173,...,0.695,160,326,486,80,53,18,53,127,413
17,920,2000-01,00,1610612748,MIA,37.0,82,1,1412.0,144,...,0.712,107,206,313,39,30,8,45,119,367

In [8]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))

Number of players fetched: 4815

In [9]:
player_df = pd.DataFrame(nba_players)

In [10]:
#player_df.to_csv('player_list.csv')

In [11]:
def get_player_name(ind):
    id = player_df.loc[ind]['id']
    first_name = player_df.loc[ind]['first_name']
    last_name = player_df.loc[ind]['last_name']
    name = "{}_{}.csv".format(first_name, last_name)
    return name

In [12]:
def player_csv(ind):
    id = player_df.loc[ind]['id']
    first_name = player_df.loc[ind]['first_name']
    last_name = player_df.loc[ind]['last_name']
    career = playercareerstats.PlayerCareerStats(str(id))
    df = career.get_data_frames()[0]
    time.sleep(0.6)
    filename = "{}_{}.csv".format(first_name, last_name)
    df.to_csv(filename)

In [153]:
import time
ind_list = player_df.index.values
ind_list2 = ind_list[4667:] #kept crashing while downloading from the API so I had to manually reset the index every time
for i in ind_list2:
    player_csv(i)
    time.sleep(0.6)

In [152]:
id = 1629623
ind = player_df.loc[player_df['id'] == id].index[0]
career = playercareerstats.PlayerCareerStats(str(id))
df = career.get_data_frames()[0]
#first_name = player_df.loc[ind]['first_name']
#last_name = player_df.loc[ind]['last_name']
player_df.loc[4667]

id                      78563
full_name     Rickey Williams
first_name             Rickey
last_name            Williams
is_active               False
Name: 4666, dtype: object

In [64]:
files = [f for f in os.listdir('players') if not f.startswith('.')]
agg_list = list()
for p in files:
    path = f"players/{p}"
    #print(path)
    temp_df = pd.read_csv(path)
    temp_df.drop(["Unnamed: 0"], axis=1, inplace = True)
    year_slice = temp_df.drop(temp_df[(temp_df.TEAM_ID != 0)].index)
    year_list = year_slice['SEASON_ID'].to_list() 
    temp_df = temp_df.drop(temp_df[(temp_df.SEASON_ID.isin(year_list)) & (temp_df.TEAM_ID != 0)].index)
    temp_df.reset_index()
    temp_df.to_csv(path)
    with open(f"players/{p}", newline='') as f:
        reader = csv.reader(f)
        data = list(reader)
        del data[0]
        for season in data:
            agg_list.append(season)

In [80]:
test_player = pd.DataFrame(agg_list, columns=['', 'PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE', 
                                          'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 
                                          'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'])
test_player

,,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,0,77752,1947-48,0,1610610036,WAS,24.0,37,,,...,0.508,,,,18,,,,85,156
1,1,77752,1948-49,0,1610610036,WAS,25.0,50,,,...,0.515,,,,43,,,,119,191
2,2,77752,1949-50,0,1610610036,WAS,26.0,68,,,...,0.739,,,,74,,,,247,474
3,3,77752,1950-51,0,1610610036,WAS,27.0,17,,,...,0.641,,,37.0,25,,,,48,67
4,0,988,1996-97,0,1610612745,HOU,22.0,64,0,982.0,...,0.646,32,62,94,155,39,12,102,107,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23721,0,1612,1997-98,0,1610612761,TOR,23.0,38,0,293.0,...,0.429,7,17,24,45,21,4,25,50,53
23722,1,1612,2000-01,0,1610612744,GSW,26.0,8,0,149.0,...,0.833,2,10,12,18,7,1,9,18,19
23723,0,76425,1983-84,0,1610612754,IND,23.0,48,0,446.0,...,0.615,19,37,56,38,23,18,46,49,218
23724,0,1630625,2021-22,0,1610612761,TOR,22.0,64,1,696.0,...,0.591,38,86,124,99,28,10,53,68,205
23725,1,1630625,2022-23,0,1610612761,TOR,23.0,31,2,279.0,...,0.708,11,34,45,36,13,13,18,34,142

In [66]:
test_player.to_csv('player_stats.csv')

In [67]:
test_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23726 entries, 0 to 23725
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0                      23726 non-null  object
 1   PLAYER_ID          23726 non-null  object
 2   SEASON_ID          23726 non-null  object
 3   LEAGUE_ID          23726 non-null  object
 4   TEAM_ID            23726 non-null  object
 5   TEAM_ABBREVIATION  23726 non-null  object
 6   PLAYER_AGE         23726 non-null  object
 7   GP                 23726 non-null  object
 8   GS                 23726 non-null  object
 9   MIN                23726 non-null  object
 10  FGM                23726 non-null  object
 11  FGA                23726 non-null  object
 12  FG_PCT             23726 non-null  object
 13  FG3M               23726 non-null  object
 14  FG3A               23726 non-null  object
 15  FG3_PCT            23726 non-null  object
 16  FTM                23726 non-null  object
 17  FTA                23726 non-null  object
 18  FT_PCT             23726 non-null  object
 19  OREB               23726 non-null  object
 20  DREB               23726 non-null  object
 21  REB                23726 non-null  object
 22  AST                23726 non-null  object
 23  STL                23726 non-null  object
 24  BLK                23726 non-null  object
 25  TOV                23726 non-null  object
 26  PF                 23726 non-null  object
 27  PTS                23726 non-null  object
dtypes: object(28)
memory usage: 5.1+ MB

In [37]:
import requests

response = requests.get('https://www.basketball-reference.com/allstar/')

print(response.status_code)

200

In [6]:
year = 2023
url_list = list()
while year >= 1951:
    url = 'https://www.basketball-reference.com/allstar/NBA_{}.html'.format(year)
    url_list.append(url)
    year-=1

In [ ]:
from bs4 import BeautifulSoup  # library for HTML parsing
import time
year_list = list(range(1951, 2024))
year_list.reverse()
n = 0
allstar_dict = dict()
for url in url_list:
    temp_set = set()
    response = requests.get(url)
    html = BeautifulSoup(response.text, "html.parser")
    regex = '/players/'
    p = 0
    for a in html.find_all('a', href=True): 
        if re.search(regex, a['href']) and p < 2:
            if a.text == "Players":
                p+=1
            else:
                temp_set.add(a.text)
    l = list(temp_set)
    allstar_dict.update({year_list[n]: l}) 
    n+=1
    time.sleep(6)

In [49]:
allstar_cat = ['year', 'player']
allstar_convert = list()
for year in year_list:
    for player in allstar_dict[year]:
        temp_list = [year, player]
        allstar_convert.append(temp_list)
allstar_df = pd.DataFrame(allstar_convert, columns=allstar_cat)
allstar_df.sort_values(by=['player', 'year'], inplace=True)

      year              player
840   1990          A.C. Green
1085  1980      Adrian Dantley
1064  1981      Adrian Dantley
1040  1982      Adrian Dantley
991   1984      Adrian Dantley
...    ...                 ...
1404  1968         Zelmo Beaty
55    2021     Zion Williamson
0     2023     Zion Williamson
533   2003  Zydrunas Ilgauskas
487   2005  Zydrunas Ilgauskas

[1770 rows x 2 columns]

In [51]:
allstar_df.to_csv('allstar_players.csv')

In [ ]:
total_allstars = allstar_df.value_counts('player')

In [54]:
first_allstar = allstar_df.groupby("player").first()

In [55]:
first_allstar.to_csv('first_allstar.csv')

In [81]:
test_player.rename(columns={"": "Years in League"}, inplace=True)

In [82]:
test_player = test_player.apply(lambda x: x.str.strip()).replace('', np.nan)

In [83]:
num_cat = ['Years in League','PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 
           'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
test_player[num_cat] = test_player[num_cat].astype('float64')

In [86]:
test_player.info()
test_player.to_csv("player_stats_old.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23726 entries, 0 to 23725
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Years in League    23726 non-null  float64
 1   PLAYER_ID          23726 non-null  object
 2   SEASON_ID          23726 non-null  object
 3   LEAGUE_ID          23726 non-null  object
 4   TEAM_ID            23726 non-null  object
 5   TEAM_ABBREVIATION  23726 non-null  object
 6   PLAYER_AGE         23726 non-null  float64
 7   GP                 23726 non-null  float64
 8   GS                 18228 non-null  float64
 9   MIN                22961 non-null  float64
 10  FGM                23726 non-null  float64
 11  FGA                23726 non-null  float64
 12  FG_PCT             23712 non-null  float64
 13  FG3M               18580 non-null  float64
 14  FG3A               18580 non-null  float64
 15  FG3_PCT            18360 non-null  float64
 16  FTM                23726 non-null  float64
 17  FTA                23726 non-null  float64
 18  FT_PCT             23610 non-null  float64
 19  OREB               20117 non-null  float64
 20  DREB               20117 non-null  float64
 21  REB                23072 non-null  float64
 22  AST                23726 non-null  float64
 23  STL                20117 non-null  float64
 24  BLK                20117 non-null  float64
 25  TOV                19138 non-null  float64
 26  PF                 23726 non-null  float64
 27  PTS                23726 non-null  float64
dtypes: float64(23), object(5)
memory usage: 5.1+ MB

In [79]:
test_player["PPG"] = test_player["PTS"]/test_player["GP"]
test_player["APG"] = test_player["AST"]/test_player["GP"]
test_player["TRPG"] = test_player["REB"]/test_player["GP"]
test_player["ORPG"] = test_player["OREB"]/test_player["GP"]
test_player["DRPG"] = test_player["DREB"]/test_player["GP"]
test_player["BPG"] = test_player["BLK"]/test_player["GP"]
test_player["SPG"] = test_player["STL"]/test_player["GP"]
test_player["TPG"] = test_player["TOV"]/test_player["GP"]
test_player["FPG"] = test_player["PF"]/test_player["GP"]
test_player["3PG"] = test_player["FG3M"]/test_player["GP"]
test_player["MPG"] = test_player["MIN"]/test_player["GP"]